###
# Unity folders and files
###
/Pacman/Temp
/Pacman/Library/metadata
/Pacman/Assets/Plugins
Plugins.meta
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Library/metadata
Assets/AssetStoreTools*

[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.suo
*.sln
*.csproj
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.vs

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
